
      <div id="app"></div>



  <script>
    const DEBUG = true;

    DEBUG && console.time("Initialisation");

    let wf = new Workflow('#app', {
      title: "Workflow name"
    });

    DEBUG && console.timeEnd("Initialisation");
  </script>
