<div id="app"></div>

<script>

  var wf = new Workflow('#app', {
      title: "<%= workflow.title %>",
      editable: <%= editable %>,
      preload: <%= workflow.workflow_content.to_json.html_safe %>
  });

  $('.workflow-form-submit').click(function () {
      $('#workflow_content').val(JSON.stringify(wf.export()));
      Workflows.formSubmitted = true;

      return true;
  });


</script>
