<div class="row wrapper">
  <div class="col-md-12">
    <div class="page-header">
      <%= page_title("New #{@workflow.type ? @workflow.type.titleize : 'Workflow'}") %>
    </div>

    <%= render partial: 'form' %>
  </div>
</div>
