<!DOCTYPE html>
<html>

<%= javascript_include_tag 'standalone/workflow_viewer' %>
<%= stylesheet_link_tag 'standalone/workflow_viewer', media: 'all' %>

<body>

<%= render 'workflows/workflow_diagram' %>

</body>
</html>
