.breakdown-score{
  background-color: #eeeeee;
  padding: 9px;
  margin: 5px;
}

.score-value {
  height: 80px;
  display: flex;
  align-items: center;
}

.score-desc{
  height: 80px;
  display: flex;
  align-items: center;
}

.score-box{
  background-color: #eeeeea;
  padding: 10px;
  margin: 10px;
}

ul.recent-approvals {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
}

$high-priority-color: #ff4519;
$low-priority-color: #4eb93b;
.curation-task {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 10px;
  &.curation-task-highlight { background-color: #b9d2eb; }
  &.curation-task-open { }
  &.curation-task-resolved { color: #aaa; }
  &.priority-high { border-right: 2px solid $high-priority-color; }
  span.priority-high { color: $high-priority-color; }
  &.priority-low { border-right: 2px solid $low-priority-color; }
  span.priority-low { color: $low-priority-color; }
}
