#google-map-form {
  position: relative;
  height: 300px;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.google-map {
  height: 250px;
  width: 400px;
  float: right;
  margin: 0 0 10px 10px;
  @include xs {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

.suggestion_action {
  z-index: 2
}

.suggestions {
  padding: 1px;
  z-index: 1;
}
.suggestions:hover {
  z-index: 2;
}

#report {
  clear: both;
}

#map-loading-screen{
  width: 20%;
  margin-left: 40%;
  padding-top: 100px;
}

.calendar-date-block{
  padding: 5px 0;
  margin: 5px 0;

  h3 {
    margin: 5px;
    font-size: 16px;
  }

  ul {
    margin: 0;

    li {
      margin: 5px 0;

      a {
        font-size: 16px;
        line-height: 2;
      }
    }
  }

  &.boundary {
    border-top: 2px solid transparentize($elixir-blue, 0.7);
  }
}

.calendar-month-picker {
  position: relative; /* So datetimepicker displays in correct location */
}
