
.tess-facets {
  a.tess-facet-row {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: small;
    padding: 2px 5px
  }

  a.tess-facet-row:visited, a.tess-facet-row:active {
    color: inherit
  }

  a.tess-facet-row:hover {
    background-color: rgba(0, 84, 114, 0.2)
  }

  a.tess-facet-row.active {
    background-color: rgba(0, 84, 114, 0.7);
    color: white
  }

  a.tess-facet-row.active:hover {
    background-color: rgba(0, 84, 114, 0.4)
  }

  a.tess-facet-row.active:after {
    content: "×";
    float: right;
    margin-left: 5px;
    font-weight: bold
  }
  a.tess-facet-row span {
    pointer-events: none
  }

  .tess-facet {
    border-bottom: 1px solid rgba(77, 72, 72, 0.2)
  }

  .tess-facet-title {
    font-weight: bold;
    padding: 7px 5px;
    background-color: #efefef;
    font-size: small
  }

  ul > li a.tess-facet-row {
    border-top: 1px solid rgba(77, 72, 72, 0.2)
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0
  }

  ul li.hidden {
    display: none;
  }

  ul li a.tess-facet-row {
    display: flex;
    padding: 7px 10px
  }

  ul li a.tess-facet-row span {
    display: inline-block
  }

  ul li a.tess-facet-row .tess-facet-row-value {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
  }

  ul li a.tess-facet-row .tess-facet-row-count {
    flex-shrink: 0;
    color: #4d4848
  }

  .facet-select {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
}
