<%
  @grouped = @events.group_by { |e| e.start.strftime('%d %B %Y') }
%>
<div id="calendar_basic">

  <% @grouped.each do |month, events| %>
  <h2><%= month %></h2>
    <% events.each do |event| %>
      <%= link_to event.title, event %><br/>
    <% end %>
  <% end %>
</div>

